
# 这个文件是所有人共享的配置，复制一份，命名为 orca.config.user.toml
# 个人相关的配置写在orca.config.user.toml中, 个人配置不会提交到Git中。
# 运行时这两个配置会合并。

[orcalab]

# 场景编辑服务的端口。
edit_port = 50151

# 仿真服务的端口。
sim_port = 50051

# [个人配置] 启动时是否初始化pak包。如果为true，会删除目标目录下的所有文件，并以指定的源pak为准。
# 如果为false，启动时什么也不做。默认值为true。
init_paks = true

# [个人配置] 启动关卡
level = "Default_level"

# [个人配置] 锁帧
lock_fps = 60

# [个人配置] 用到的pak包的绝对路径。目前先手填。至少要有一个engine的pak和level的pak。
# 启动时脚本会把它们放到正确的位置。
paks = [
    # "/xxx/engine_linux.pak",
    # "/xxx/test_level_linux.pak",
]

[orcalab.dev]

# 是否在开发环境。[orcalab.dev]中的配置只在开发环境中起作用。
development = false

# 是否连接Builder。
connect_builder_hub = false

# 测试项目目录
project_path = ""


# Copilot 服务器配置
[copilot]
# 服务器地址
server_url = "http://103.237.28.246:9023"
# 请求超时时间（秒）
timeout = 180

# DataLink 资产同步配置
[datalink]
# 后端API地址（根据实际环境修改）
# 本地开发环境使用 HTTP
# base_url = "http://localhost:8080/api"
# 生产环境使用 HTTPS
base_url = "http://8.159.136.178:8080/api"

# 是否启用资产同步
enable_sync = true
# 请求超时时间（秒）
timeout = 60

# 仿真程序配置
[external_programs]
# 默认程序配置
default = "run_sim_loop"

# 仿真程序列表
[[external_programs.programs]]
name = "run_sim_loop"
display_name = "Empty Loop Simulation"
command = "python"
args = ["-m", "orca_gym.scripts.run_sim_loop",]
description = "启动物理仿真循环"

[[external_programs.programs]]
name = "run_wheeled_chassis"
display_name = "Wheeled Chassis Example"
command = "python"
args = ["-m", "examples.wheeled_chassis.run_wheeled_chassis", "--orcagym_addr", "localhost:50051", "--agent_name", "openloong_gripper_2f85_mobile_base_usda_1", "--env_name", "WheeledChassis"]
description = "启动轮式底盘物理仿真示例"

[[external_programs.programs]]
name = "run_character"
display_name = "Character Example"
command = "python"
args = ["-m", "examples.character.run_character", "--orcagym_addr", "localhost:50051", "--agent_name", "remy_1", "--env_name", "Character"]
description = "启动角色动画物理仿真示例"